<h1 class="text-center">Homepage</h1>
<p class="text-center">This the home page for the <%= link_to 'My facebook', 'http://google.com' %> Tutorial sample application</p>
<div>
  <button class="center-block btn btn-lg btn-primary">Sign-up now!!!</button>
</div>